<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://i.imgur.com/5A2VGlu.png" type="image/x-icon" />
    <title>{% block head_title %} CbeSync{% endblock head_title %} </title>
    {% include 'base/css.html' %}
</head>
<body>
    {% include 'nav/navbar.html' %}
    {% block content %}
        You can't see me!
    {% endblock content %}

    {% include 'base/js.html' %}
    {% include 'snippets/footer.html' %}
</body>
</html>