{% extends "base.html" %}
{% load i18n %}
{% load allauth_ui %}
{% load widget_tweaks %}
{% block head_title %} {{block.super}}-Login  {% endblock head_title %}
{% block content %}
{% include 'nav/navbar.html' %}

    <section class="tw-flex tw-min-h-[100vh] tw-w-full tw-flex-col tw-place-content-center tw-place-items-center tw-p-[2%]">
            <h3 class="reveal-up tw-text-4xl tw-font-medium tw-text-center max-md:tw-text-2xl" >
                Login
            </h3>
            <!-- Testimonials -->
            <div class="tw-mt-20 tw-gap-10 tw-space-y-8  max-md:tw-columns-1 lg:tw-columns-1 xl:tw-columns-1">
                <!--Container for allauth custom login form-->
                <div class="reveal-up tw-flex tw-h-fit tw-w-[350px] tw-break-inside-avoid tw-flex-col tw-gap-4 tw-rounded-lg tw-border-[1px] tw-bg-[#f6f7fb] dark:tw-bg-[#080808] dark:tw-border-[#1f2123] tw-p-4 max-lg:tw-w-[320px]">   
                    <div>
                        {% trans "Sign In" as heading %}
                        {% #container heading=heading  %}
                        {% if not SOCIALACCOUNT_ONLY %}
                            <div class="py-3">
                                {% blocktranslate %}If you have not created an account yet, then please
                                <a class="link" style="color: darkgreen; text-decoration: underline;" href="{{ signup_url }}">sign up</a> first.{% endblocktranslate %}
                            </div>
                            {% url 'account_login' as action_url %}
                            {% #form form=form url=action_url button_text=heading %}
                            {% if form.remember %}
                                <div class="items-start my-2 form-control">
                                    <label class="cursor-pointer label">
                                        {% render_field form.remember class="checkbox checkbox-accent" %}
                                        <span class="ml-2 label-text">{% trans "Remember me" %}</span>
                                    </label>
                                </div>
                            {% endif %}
                            {{ redirect_field }}
                            {% csrf_token %}
                            <div class="flex flex-col">
                                <a class="link self-end text-sm" style="color: darkgreen; text-decoration: underline;" href="{% url "account_reset_password" %}">{% trans "Forgot password?" %}</a>
                            </div>
                            {% /form %}
                        {% endif %}
                        {% if LOGIN_BY_CODE_ENABLED %}
                            <div class="divider divider-neutral"></div>
                            <a href="{{ request_login_code_url }}" style="color: darkgreen; text-decoration: underline;" class="btn btn-neutral">{% trans "Mail me a sign-in code" %}</a>
                        {% endif %}
                        {% if SOCIALACCOUNT_ENABLED %}
                            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
                        {% endif %}
                        {% /container %}
                    </div>
                    <!--Commentary text-->
                    <p class="tw-mt-4 tw-text-gray-800 dark:tw-text-gray-200">
                        <div class="tw-font-serif">
                            <i>Anyone who tries to make everyone happy is admirable</i>
                        </div> 
                    </p>
                </div>  
            </div>
    </section>

{% endblock content %}