{% extends 'base.html' %}
{% load static %}
{% block head_title %} {{block.super}}-{{page_title}}  {% endblock head_title %}
{% block content %}
       
    <!-- <div class="tw-absolute tw-top-0 tw-left-1/2 tw--translate-x-1/2 tw-flex 
                tw-h-[100px] tw-w-full tw-max-w-[80%]">
        <div class="header-gradient tw-h-full tw-w-full "></div>
    </div> -->

    <!--Navbar Header-->
    {% include 'nav/navbar.html' %}           
        <section  class="tw-relative tw-flex  tw-w-full tw-min-h-[100vh] max-lg:tw-min-h-[80vh] tw-flex-col tw-place-content-center tw-place-items-center tw-overflow-hidden" >   
             <div class="tw-w-full  tw-place-content-center tw-items-center tw-flex tw-flex-col tw-max-w-[900px] tw-gap-4 tw-p-4">
               <div class="purple-bg-grad  reveal-up tw-absolute tw-right-[20%] tw-top-[20%] tw-h-[200px] tw-w-[200px]"></div>
                <h2 class="reveal-up tw-text-6xl max-lg:tw-text-4xl tw-text-center tw-leading-normal tw-uppercase">                    
                    <span class="tw-font-semibold">About CbeSync </span>
                    <br>
                    <span class="tw-font-serif"><!--Commented out for syling --></span>
                </h2>
                <p class="reveal-up tw-mt-8 tw-max-w-[650px] tw-text-gray-900 dark:tw-text-gray-200 tw-text-center max-md:tw-text-sm">   
                    CbeSync is designed to simplify and modernize school management under Kenya’s Competency-Based Education (CBE) curriculum. Our platform bridges the gap between administrators, teachers, students, and parents — providing real-time access to academic records, communication tools, and performance insights. 
                </p>
                <div class="reveal-up tw-flex tw-mt-8">
                    <a href="#" target="_blank" rel="noopener" class="tw-shadow-md hover:tw-shadow-xl dark:tw-shadomanagementw-gray-800 tw-transition-all tw-duration-300 tw-border-[1px] tw-p-3 tw-px-4 tw-border-black dark:tw-border-white tw-rounded-md">
                        Level Up with Us
                    </a>
                </div>
            </div>
        </section>

        <section class="tw-relative tw-flex tw-max-w-[100vw] tw-flex-col tw-place-content-center tw-place-items-center tw-overflow-hidden">   
            <div class="tw-mt-8 tw-flex tw-flex-col tw-w-full tw-h-full tw-place-items-center tw-gap-5">
                <div class="reveal-up tw-mt-5 tw-flex tw-flex-col tw-gap-3 tw-text-center">
                    <h2 class="tw-text-6xl tw-font-medium max-md:tw-text-3xl tw-p-2">
                        Reimagine education. Modernize with CbeSync.
                    </h2>
                </div>
                <div class="tw-mt-6 tw-flex tw-flex-col tw-max-w-[1150px] max-lg:tw-max-w-full tw-h-full tw-p-4 max-lg:tw-place-content-center tw-gap-8 ">   
                    <div class="max-xl:tw-flex max-xl:tw-flex-col tw-place-items-center tw-grid tw-grid-cols-3 tw-gap-8 tw-place-content-center tw-auto-rows-auto">
                        <!--Future for loop for dynamics-->
                        <div class="reveal-up tw-w-[350px] tw-h-[540px] tw-flex max-md:tw-w-full">
                            <a href="#" class=" tw-relative tw-p-10 tw-transition-all tw-duration-300 tw-group/card  tw-gap-5 tw-flex tw-flex-col tw-w-full tw-h-full  tw-bg-[#f6f7fb] dark:tw-bg-[#171717] tw-rounded-3xl hover:tw-scale-[1.02]">
                                <div class="tw-overflow-hidden tw-w-full tw-min-h-[180px] tw-h-[180px]">
                                    <img src="{% static 'assets/images/home/cbe_support.jpg' %}" class="tw-w-full tw-object-contain tw-h-auto" alt="CbeSync-Dash">
                                    <!-- <i class="bi bi-grid-1x2-fill"></i> -->
                                </div>
                                <h2 class="tw-text-3xl max-md:tw-text-2xl tw-font-medium"> (CBE) Support</h2>
                                <p class="tw-text-base tw-leading-normal tw-text-gray-800 dark:tw-text-gray-200">
                                        Built to serve everyone in the community — from teachers shaping the future, to students eager to learn, to administrators keeping it all running smoothly.
                                </p>
                                <div class="tw-flex tw-items-center tw-gap-2 tw-mt-auto">
                                    <span>Learn more</span>
                                    <i class="bi bi-arrow-right tw-transform tw-transition-transform tw-duration-300 group-hover/card:tw-translate-x-2"></i>
                                </div>
                            </a>
                        </div>

                        
                        <div class="reveal-up tw-w-[350px] tw-h-[540px] tw-flex max-md:tw-w-full">
                            <a href="#" class=" tw-relative tw-p-10 tw-transition-all tw-duration-300 tw-group/card  tw-gap-5 tw-flex tw-flex-col tw-w-full tw-h-full  tw-bg-[#f6f7fb] dark:tw-bg-[#171717] tw-rounded-3xl hover:tw-scale-[1.02]">
                                <div class="tw-w-full tw-min-h-[180px] tw-h-[180px] tw-overflow-hidden">
                                    <img src="{% static '/assets/images/home/teacher_asses.jpg' %}" alt="REPORT" class="tw-w-full tw-h-auto tw-object-contain">
                                    <!-- <i class="bi bi-grid-1x2-fill"></i> -->
                                </div>
                                <h2 class="tw-text-3xl max-md:tw-text-2xl tw-font-medium">Automated Progress Reports</h2>
                                <p class="tw-leading-normal tw-text-gray-800 dark:tw-text-gray-200">
                                    Generates detailed, easy-to-understand reports and report cards automatically based on the assessments you enter.
                                </p>
                                <div class="tw-flex tw-items-center tw-gap-2 tw-mt-auto">
                                    <span>Learn more</span>
                                    <i class="bi bi-arrow-right tw-transform tw-transition-transform tw-duration-300 group-hover/card:tw-translate-x-2"></i>
                                </div>
                            </a>
                        </div>

                        <div class="reveal-up tw-w-[350px] tw-h-[540px] tw-flex max-md:tw-w-full">
                            <a href="#" class=" tw-relative tw-p-10 tw-transition-all tw-duration-300 tw-group/card  tw-gap-5 tw-flex tw-flex-col tw-w-full tw-h-full  tw-bg-[#f6f7fb] dark:tw-bg-[#171717] tw-rounded-3xl hover:tw-scale-[1.02]">
                                <div class="tw-w-full tw-min-h-[180px] tw-h-[180px] tw-overflow-hidden">
                                    <img src="{% static '/assets/images/home/parent_inv.jpg' %}" alt="Parent_Inv" class="tw-w-full tw-h-auto tw-object-contain">
                                    <!-- <i class="bi bi-grid-1x2-fill"></i> -->
                                </div>
                                <h2 class="tw-text-3xl max-md:tw-text-2xl tw-font-medium">Performance Tracking</h2>
                                <p class="tw-leading-normal tw-text-gray-800 dark:tw-text-gray-200">
                                    Increases parental involvement, helps motivate and support better academic outcomes.Connecting and engaging them anytime, anywhere.
                                </p>
                                <div class="tw-flex tw-items-center tw-gap-2 tw-mt-auto">
                                    <span>Learn more</span>
                                    <i class="bi bi-arrow-right tw-transform tw-transition-transform tw-duration-300 group-hover/card:tw-translate-x-2"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    <div class="reveal-up tw-w-full md:tw-h-[350px] max-md:tw-min-h-[350px] tw-flex">
                        <a href="#" class=" tw-relative tw-p-10 tw-transition-all tw-duration-300 tw-group/card  tw-gap-5 tw-flex max-md:tw-flex-col tw-w-full tw-h-full  tw-bg-[#f6f7fb] dark:tw-bg-[#171717] tw-rounded-3xl hover:tw-scale-[1.02]">
                            <div class="tw-text-6xl tw-overflow-hidden tw-rounded-xl tw-w-full tw-h-full max-md:tw-h-[180px]">
                                <img src="{% static 'assets/images/home/decentralized_sp.jpg' %}" class="tw-w-full tw-object-contain tw-h-full" alt="Decent">
                                <!-- <i class="bi bi-grid-1x2-fill"></i> -->
                            </div>
                            <div class="tw-flex tw-flex-col tw-gap-4">
                                <h2 class="tw-text-3xl max-md:tw-text-2xl tw-font-medium">Custom course Support</h2>
                                <p class="tw-leading-normal tw-text-gray-800 dark:tw-text-gray-200">
                                        Designed to accommodate both centralized curricula and institution-specific learning paths, CbeSync enables seamless integration and flexibility across diverse educational models.
                                </p>
                                <div class="tw-flex tw-items-center tw-gap-2 tw-mt-auto">
                                    <span>Learn more</span>
                                    <i class="bi bi-arrow-right tw-transform tw-transition-transform tw-duration-300 group-hover/card:tw-translate-x-2"></i>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </section>
        
        <!--Future additional features section-->

        <!--Join our newsletter section for the future-->
        
{% endblock content %}