{% extends 'base.html' %}

{% block head_title %} {{block.super}}-{{page_title}}  {% endblock head_title %}

{% block content %}
    {% include 'nav/navbar.html' %}


    <section  class="tw-relative tw-flex  tw-w-full tw-min-h-[100vh] max-lg:tw-min-h-[80vh] tw-flex-col tw-place-content-center tw-place-items-center tw-overflow-hidden" >   
        <h2>Login ->> PAGE</h2>    
        <form action="{% url 'login' %}" method="POST">
            {%csrf_token %}
                <input type="text" name="username" placeholder="username">
                <input type="text" name="password" placeholder="password">
                <button type="submit">Login</button>
            </form>
    </section>
    
    
{% endblock content %}
