{% load static %}
<footer class="tw-mt-auto tw-flex tw-flex-col tw-w-full tw-gap-4 tw-text-sm tw-pt-[5%] tw-pb-10 tw-px-[10%] tw-text-black dark:tw-text-white max-md:tw-flex-col">
    <div class="tw-flex max-md:tw-flex-col max-md:tw-gap-6 tw-gap-3 tw-w-full tw-place-content-around">
        <div class="tw-flex tw-h-full tw-w-[250px] tw-flex-col tw-place-items-center tw-gap-6 max-md:tw-w-full">   
            <a href="#" class="tw-w-full tw-place-items-center tw-flex tw-flex-col tw-gap-6">
                <img
                    src="{% static 'assets/logo/logo.png' %}"
                    alt="logo"
                    srcset=""
                    class="tw-max-w-[120px] "
                />
                <div class="tw-max-w-[120px] tw-text-center tw-text-3xl tw-h-fit">
                    CbeSync
                </div>
            </a>
            <!-- <div class="tw-mt-3 tw-text-lg tw-font-semibold">Contact us / follow</div> -->
            <div class="tw-flex tw-gap-4 tw-text-lg">
                <a href="mailto:eyerision@gmail.com"  aria-label="Email" target="_blank" >
                    <i class="bi bi-envelope"></i>
                </a>
                <a href="https://x.com/eyerision" aria-label="Twitter" target="_blank">
                    <i class="bi bi-twitter"></i>
                </a>
                
                <a href="#" aria-label="Linkedin" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>
            </div>

        </div>

        <div class="tw-flex max-md:tw-flex-col tw-flex-wrap tw-gap-6 tw-h-full tw-w-full tw-justify-around">
            <div class="tw-flex tw-h-full tw-w-[200px] tw-flex-col tw-gap-4">
                <h2 class="tw-text-xl">Resources</h2>
                <div class="tw-flex tw-flex-col tw-gap-3">
                    <a href="#" class="footer-link">Getting started</a>
                    <!--
                    <a href="#" class="footer-link">API Docs</a>
                    <a href="#" class="footer-link">API Endpoints</a>
                    -->
                </div>
            </div>


            <div class="tw-flex tw-h-full tw-w-[200px] tw-flex-col tw-gap-4">
                <h2 class="tw-text-xl">Company</h2>
                <div class="tw-flex tw-flex-col tw-gap-3">
                    <a href="#" class="footer-link">Support channels</a>
                    <a href="#" class="footer-link">Systems</a>
                </div>
            </div>

            <div class="tw-flex tw-h-full tw-w-[200px] tw-flex-col tw-gap-4">
                <h2 class="tw-text-xl">Legal</h2>
                <div class="tw-flex tw-flex-col tw-gap-3">
                    <a href="#" class="footer-link">Terms of service</a>
                    <a href="#" class="footer-link">Privacy Policy</a>
                    <a href="#" class="footer-link">DCMA - Content Takedown</a>
                </div>
            </div>
        </div>
    </div>

    <hr class="tw-mt-8">
    <div class="tw-mt-2 tw-flex tw-gap-2 tw-flex-col tw-text-gray-700 dark:tw-text-gray-300 tw-place-items-center 
            tw-text-[12px] tw-w-full tw-text-center tw-place-content-around">
        <span>Copyright &#169; 2023-2025 CbeSync</span>
        <span>All trademarks and copyrights belong to their respective owners.</span>
    </div>

</footer>